@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --marginBottomTitulosInicio: 15px;
    --fontGeneral: "Poppins", sans-serif;
    --fontDeveloper: "Nanum Gothic", sans-serif;
    --textosPequenios : 12px;
    --font-Sizeh2: 30px;
    --font-sizeCards: 16px;
    
}
/*
*{
    margin: 0;
    padding: 0;
}*/
html {
    scroll-behavior: smooth;
}

.titulos{
    max-width: 100%;
}

body{
    font-family: var(--fontGeneral);
    color: white;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p{
    line-height: 18px;
    opacity: 0.8;
}
h1{
    font-size: 70px;
    margin-right: 20px;
    font-family: var(--fontDeveloper);
    margin-top: 2px;
    margin-bottom: 2px;
}

h3{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2{
    font-family: var(--fontDeveloper);
    font-size: var(--font-Sizeh2);
    text-transform: uppercase;
    font-weight: 550;
    width: 520px;   
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    line-height: 40px;
}


.section1{
    background-image:url(imagenes/imagenBack.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sectionPresentacion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 190px;
    margin-left: 295px;
}

.sectionPresentacion h3{
    margin: 10px 2px;
}

.titulo{
    display: flex;
    margin: 0 5px;
    margin-bottom: var(--marginBottomTitulosInicio);
}
.titulo p{
    margin-top: 10px;
    margin-bottom: 16px;
}
.yo{
    font-weight: normal;
    margin-top: 2px;
    margin-bottom: 2px;
}
.subitulo{
    font-size: 18px;
    margin-bottom: var(--marginBottomTitulosInicio);
}


.playSection{
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.playSection a{
    text-decoration: none;
    color: rgba(245, 245, 245, 0.9);
}
nav{
    display: flex;
    justify-content: space-between;

    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
    font-size: var(--textosPequenios);
}
.menu{
    text-decoration: none;
    color: white;
    font-weight: 300;
}

.menu:hover{
    cursor: pointer;
}

.menuDesplegable{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    right: 95px;
    top: 30px;
    background-color: rgba(245, 245, 245, 0.05);
    clip-path: circle(0% at top right);
    transition: clip-path .4s;
}
.linkMenu{
    text-decoration: none;
    color: rgb(245, 245, 245);
    padding: 15px;
    font-size: 16px;
    text-transform: uppercase;
}
.linkMenu:hover{
    text-decoration: underline;
}

.menuDesplegable:target{
    clip-path: circle(150% at top right);
}
.logo{
    width: 14%;
}
.iconoPlay{
    width: 25px;
    margin-right: 10px;
}

.iconoInicio {
  width: 28px;
  margin-bottom: var(--marginBottomTitulosInicio);
}

/*Sector redes sociales*/
.redesSocialesSection{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.redesSocialesSection li{
    text-decoration: none;
    list-style: none;
    margin:0px 2px;
    padding-left: 2px;
}
.redesSocialesSection li p{
    font-size: var(--textosPequenios);
    font-weight: 450;
    letter-spacing: 0.35px;
    line-height: 2px;
}

.redesContactosSec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    flex-wrap: wrap;
    margin-left: 230px;
    margin-top: -25px;
}

.redesContactosSec .contactosSec{
    display: flex;

}
.iconosRepetidos{
    display: flex;
    align-items: end;
    padding-left: 250px;
    opacity: 0.6;
}
.iconosRepetidos a{
    padding: 0 10px;
}
.contactosSec .red{
    font-weight: bolder;
}

.redesContactosSec p{
    font-size: 10px;
    margin-right: 2px;

}


.iconosRedesSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 22px;
    margin-top: 15px;
}

.separador{
    height: 36px;
    width: 0.1px ;
    background-color: white;
    border: 0.1px;
}

.separadorPeque{
    width: 0.1px ;
    height: 18px;
    margin-left: 23px;
    margin-right: 14px;
    background-color: white;
    border: 0.1px;
}


.iconosRedes{
    width: 15px;
    height: 16px;
    margin-bottom: 5px;
}

/*Sector negro con información*/

.contenedorInformación{
    display: flex;
    flex-direction: column;
    justify-content: center;    
}


.sobreMi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    
}

.imagenPerfil1{
    width: 35%;
    margin-left: -235px;
}

.imagenPerfil2{
width: 50%;
margin-right: -300px;
margin-top: -450px;
z-index: -1;

}
.contenedorInformación .divisores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
}

.contenedorImagenes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 50px;

}

.sobreMi .divisorSobreMi p{
    width: 570px;
    font-size: var(--textosPequenios);
    font-weight: 300;
    font-family: var(--fontGeneral);
    line-height: 159%;
}

.lineadivisoria{
    opacity: 0.1;
    width: 80%;
    margin-bottom: 85px;
    margin-top: 85px;
}

.textoServices{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1.5px;
    font-size: var(--textosPequenios);
    color: rgba(255, 255, 255, 1);
    width: 40%;

}

.contenedorCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 56px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 271px;
    margin-left: 10px;
    margin-right: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

div h4 {
    margin: 5px 1px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: var(--font-sizeCards);
    letter-spacing: 1.44px;
    
  }

  .card p {
    font-size: 12px;
    margin-bottom: 45px;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 4px;
  }

  .card img{
    margin-top: 47px;
    width: 64px;
    margin-bottom: 10px;
  }

  .divisores .textoHero{
    width: 568px;
    font-size: 12px;
    color: rgba(245, 245, 245, 0.9);
    text-align: center;
    word-spacing: 1.5px;
    line-height: 18px;
  }

  .divisores h2{
    text-align: center;
    
  }

  .divisoresDos, .divisorFooter{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        /*margin-top: 80px;*/
        padding: 5px 200px;
  }

  

  .separadoresHabilidades{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
  }

  .separadoresHabilidades div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
  }

  .separadoresHabilidades form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .titulohabilidades{
    width: 240px;
  }
  .separadoresHabilidades p{
    font-size: var(--textosPequenios);
    
  }

  .separadoresHabilidades div hr{
    width: 350px;
    margin-top: 18px;
    margin-bottom: 20px;
  }


  /*habilidades*/
  .cargaHabilidades{
    margin-right: 15px;
    width: 42%; /*a revisar*/
  }

  .cargaHabilidades .porcentaje{
    margin-left:95%;
    margin-top:-10px;
    font-size: 10px;    
    letter-spacing: 2px;
  }

  .barraCarga{
    height: 3px;
    width: 100%;
    background-color: #181818;
  }
  .barraCargaDentro{
    width: 98%;
    margin: 0;
    height: 8px;
    margin-top:-2px;
    background-color: #181818;
  }

  .CargaDentro1{
    width: 95%;
  }

  .CargaDentro2{
    width: 80%;
  }

  .CargaDentro3{
    width: 60%;
  }

  .CargaDentro4{
    width: 80%;
  }

  .CargaDentro5{
    width: 60%;
  }
 .cargaHabilidades .tituloHabilidad{
    margin: 30px 0 15px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
  }


  /*historial de experiencias*/
  .experiencias {
    margin-right: 15px;
    width: 45%;
    opacity: 0.9;
}
.experiencias h2{
    line-height: 15px;
    width: 100%;

}
.trabajo {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    
 }
    
.trabajo p{
        font-size: var(--textosPequenios);
        letter-spacing: 0.2px;
        font-weight: 200;
        margin-top: 2px;
}

.empresa {
    padding-left: 20px;
    font-size: var(--textosPequenios);
    text-transform: uppercase;
    position: relative;
    margin-bottom:5px;

}


.empresa::before{
    content: "•";
    color: rgba(255, 255, 255);
    position: absolute;
    left: -14px;
    top: -6px;
    font-size: 30px;
    line-height: 1;
}

.trabajo h3 {
    font-size: var(--textosPequenios);
    font-weight: 400;
    letter-spacing: 2px;
    }


.textosPequeniosFuertes{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 450;
    letter-spacing: 1.5px;
}

/*Galeria*/
.contenedorDiseños .galeria {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.contenedorDiseños .contenedorGaleria {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.contenedorDiseños{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
}

.galeria a{
    height: 570px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 42px;
    cursor: pointer;
    text-decoration: none;
    color: rgba(255, 255, 255);
    flex-basis: 48%;
}

.galeria a:hover p, .galeria a:hover h3 {
    font-size: 110%;
    transition: font-size 0.3s;
}

.galeria a:hover img {
    font-size: 110%;
    transition: font-size 0.3s;
}

.botonVerMas a:hover {
    cursor: pointer;
}

.mecandoc{
    background-image: url(./imagenes/appMecandoc.png);
}


.juegoCDC{
    margin-top: 50px;
    background-image: url(./imagenes/juegocdc.png);
}

.alquileres{
    background-image: url(./imagenes/alquileres.png);
    
}

.alquileres div, .mecandoc div{
    color: #131313;
}
.mecandoc .descripProyect div{
    color: #000000;
  text-shadow: -1px -1px 2px #ffffff,  1px -1px 2px #ffffff, -1px 1px 2px #ffffff,1px 1px 2px #ffffff;
}
.galeria a p{
    letter-spacing: 1px;
    font-size: 10px;
}

.galeria a h3{
    letter-spacing: 1.5px;
    font-size: var(--fontGeneral);
    text-transform: uppercase;
    font-weight: 450;
    margin-top: 3px;
}

.contenedorDiseños .botonVerMas{
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 25px;
   

}

.botonVerMas a{
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid white;
   padding: 10px 30px;
   text-transform: uppercase;
   text-decoration: none;
   color: rgba(255, 255, 255,0.9);
   font-size: 10px;
   font-weight: 400;
   font-family: var(--fontDeveloper);
   letter-spacing: 1px;
}

.contenedorDiseños .descripProyect{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 25px;
}

.descripProyect div img{
    width: 40px;
    transform: rotate(-90deg);
}

/*FORMULARIO*/
input, textarea{
    margin: 10px 0px;
    padding: 10px 5px;
    background-color: #131313;
    color: rgb(245, 245, 245);
    font-family: var(--fontGeneral);
    font-size: var(--textosPequenios);
    border: 1px solid rgba(245, 245, 245, 0.2);
    box-shadow: none;
}

textarea{
    height: 150px;
}

form .botonMensaje{
    margin-left: 200px;
    border: 2px, solid rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    cursor: pointer;
}

/*FOOTER*/
.itemFooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;
    margin: 0 45px;
}
.itemFooter .redesFooter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
}
.redesFooter div{
    max-width: 200px;
}
.navFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navFooter div{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin: 2px 50px;
}

.navFooter div a, .navFooter div p{
    text-decoration: none;
    cursor: pointer;
    font-family: var(--fontGeneral);
    font-size: 9px;
    color: white;
    letter-spacing: 1.5px;
    line-height: 18px;
    opacity: 0.8;
}

.navFooter div p{
    margin: 0;
}

.navFooter div h5{
    font-weight: 300;
    letter-spacing: 1.5px;
    padding: 2px 4px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(245, 245, 245, 0.05);
    position: relative;
}

.navFooter div h5::before{
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    background-color: rgba(245, 245, 245, 0.2);
    position: absolute;
    left: 150px;
    top: 10px;
    transform: translateX(-50%);
}
.navFooter div h5 :hover{
    text-decoration:underline;
}
.logoFooter{
    width: 100px;
    margin-top: 2px;
}
.contenedorIconosFot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.contenedorIconosFot a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: white;
    text-decoration: none;
    border: 1px solid  rgba(245, 245, 245, 0.2);
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    margin-left: -8px;
}

.contenedorIconosFot a img{
    width: 15px;
    height: 16px;
}

