@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --marginBottomTitulosInicio: 15px;
    --fontGeneral: "Poppins", sans-serif;
    --fontDeveloper: "Nanum Gothic", sans-serif;
    --textosPequenios : 12px;
    --font-Sizeh2: 30px;
    --font-sizeCards: 16px;
}
/*
*{
    margin: 0;
    padding: 0;
}*/
body{
    font-family: var(--fontGeneral);
    color: white;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p{
    line-height: 18px;
    opacity: 0.8;
}
h1{
    font-size: 70px;
    margin-right: 20px;
    font-family: var(--fontDeveloper);
    margin-top: 2px;
    margin-bottom: 2px;
}

h3{
    font-size: 18px;
}

h2{
    font-family: var(--fontDeveloper);
    font-size: var(--font-Sizeh2);
    text-transform: uppercase;
    font-weight: bold;
    width: 520px;   
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    line-height: 40px;
}


.section1{
    background-image:url(imagenes/FondoPrueba.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sectionPresentacion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 250px;
    margin-left: 295px;

}

.titulo{
    display: flex;
    margin-top: 15px;
    margin-bottom: var(--marginBottomTitulosInicio);
}
.yo{
    font-weight: normal;
    margin-top: 2px;
    margin-bottom: 2px;
}
.subitulo{
    font-size: 18px;
    margin-bottom: var(--marginBottomTitulosInicio);
}


.playSection{
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 7%;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
    font-size: var(--textosPequenios);
}
.menu{
    text-decoration: none;
    color: white;
    font-weight: 300;
}
.logo{
    width: 4%;
}
.iconoPlay{
    width: 43px;
}

.iconoInicio {
  width: 28px;
  margin-bottom: var(--marginBottomTitulosInicio);
}

/*Sector redes sociales*/
.redesSocialesSection{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.redesSocialesSection ul{
    margin:0px 2px;
    padding-left: 2px;
}
.redesSocialesSection ul p{
    font-size: var(--textosPequenios);
    font-weight: 400;
    letter-spacing: 0.35px;
}

.redesContactosSec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    flex-wrap: wrap;
    margin-left: 230px;
}

.redesContactosSec p{
    font-size: 10px;
    margin-right: 2px;

}
.iconosRedesSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 22px;
}

.separador{
    height: 36px;
    width: 0.1px ;
    background-color: white;
    border: 0.1px;
}

.separadorPeque{
    width: 0.1px ;
    height: 18px;
    margin-left: 23px;
    margin-right: 14px;
    background-color: white;
    border: 0.1px;
}


.iconosRedes{
    width: 15px;
    height: 16px;
    margin-bottom: 5px;
}

/*Sector negro con información*/

.contenedorInformación{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.sobreMi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.contenedorInformación .divisores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
}


.sobreMi .divisorSobreMi p{
    width: 570px;
    font-size: var(--textosPequenios);
    font-weight: 300;
    font-family: var(--fontGeneral);
    line-height: 159%;
}

.lineadivisoria{
    opacity: 0.1;
    width: 941px;
    margin-bottom: 85px;
    margin-top: 85px;
}

.textoServices{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1.5px;
    font-size: var(--textosPequenios);
    color: rgba(255, 255, 255, 1);
    width: 40%;

}

.contenedorCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 56px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 271px;
    margin-left: 10px;
    margin-right: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

div h4 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: var(--font-sizeCards);
    letter-spacing: 1.44px;
    
  }

  .card p {
    font-size: 12px;
    margin-bottom: 45px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .card img{
    margin-top: 47px;
    width: 64px;
    margin-bottom: 10px;
  }

  .divisores .textoHero{
    width: 568px;
    font-size: 12px;
    color: rgba(245, 245, 245, 0.9);
    text-align: center;
    word-spacing: 1.5px;
    line-height: 18px;
  }

  .divisores h2{
    text-align: center;
    
  }

  .divisoresDos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        /*margin-top: 80px;*/
        padding: 5px 200px;
  }

  .separadoresHabilidades{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;
    margin-right: 120px;
    margin-left: 120px;
  }

  .separadoresHabilidades div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
  }

  .separadoresHabilidades form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .titulohabilidades{
    width: 240px;
  }
  .separadoresHabilidades p{
    font-size: var(--textosPequenios);
    
  }

  .separadoresHabilidades div hr{
    width: 350px;
    margin-top: 18px;
    margin-bottom: 20px;
  }

  .cargaHabilidades{
    margin-right: 15px;
  }

  /*historial de experiencias*/
  .experiencias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 15px;
    width: 42%;
    opacity: 0.9;
}
.experiencias h2{
    line-height: 15px;
}
.trabajo {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    
 }
    
.trabajo p{
        font-size: var(--textosPequenios);
        letter-spacing: 0.2px;
        font-weight: 200;
        margin-top: 2px;
}

.empresa {
    padding-left: 20px;
    font-size: var(--textosPequenios);
    text-transform: uppercase;
    position: relative;
    margin-bottom:5px;

}


.empresa::before{
    content: "•";
    color: rgba(255, 255, 255);
    position: absolute;
    left: -14px;
    top: -6px;
    font-size: 30px;
    line-height: 1;
}

.trabajo h3 {
    font-size: var(--textosPequenios);
    font-weight: 400;
    letter-spacing: 2px;
    }


.textosPequeniosFuertes{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 450;
    letter-spacing: 1.5px;
}

/*Galeria*/
.separadoresHabilidades .galeria {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-right: 15px;
    flex-wrap: wrap;
    align-items: flex-start;;
}


.galeria a{
    width: 400px;
    background-image: url(./imagenes/Fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 500px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    color: rgba(255, 255, 255);
}

.galeria a p{
    letter-spacing: 1px;
    font-size: 10px;
}

.galeria a h3{
    letter-spacing: 1.5px;
    font-size: var(--fontGeneral);
    text-transform: uppercase;
    font-weight: 450;
    margin-top: 3px;
}

.separadoresHabilidades .botonVerMas{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
   

}

.botonVerMas a{
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid white;
   padding: 10px 30px;
   text-transform: uppercase;
   text-decoration: none;
   color: rgba(255, 255, 255,0.9);
   font-size: 10px;
   font-weight: 400;
   font-family: var(--fontDeveloper);
   letter-spacing: 1px;
}

.separadoresHabilidades .descripProyect{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 25px;
}

.descripProyect div img{
    width: 40px;
    transform: rotate(-90deg);
}

/*FORMULARIO*/
input, textarea{
    margin: 10px 0px;
    padding: 10px 5px;
    background-color: #131313;
    color: rgb(245, 245, 245);
    font-family: var(--fontGeneral);
    font-size: var(--textosPequenios);
    border: 1px solid rgba(245, 245, 245, 0.2);
    box-shadow: none;
}

textarea{
    height: 150px;
}

form .botonMensaje{
    margin-left: 200px;
    border: 2px, solid rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}