/*Medidas standar de movile*/
@media (max-width: 320px){

}


/*
@media (max-width: 1920px){
 /*
    h1{
        font-size: 80px;
        margin-right: 20px;
        font-family: var(--fontDeveloper);
        margin-top: 2px;
        margin-bottom: 2px;
    }

  
    .galeria a{
      width: 500px;
    }
h3{
    font-size: 23px;
}

h2{
    font-size: 35px;
}
div h4{
    font-size: 20px;
}

.divisores .textoHero{
    font-size: 16px;
}
.textoServices{
    font-size: 16px;
}
.card p{
    font-size: 16px;
}
.lineadivisoria{
    width: 80%;
}
  nav{
    font-size: 20px;
  }

.playSection{
    font-size: 16px;
}
.iconoPlay{
    width: 53px;
}
.redesSocialesSection li p{
    font-size: 15px;
}
.redesContactosSec p{
    font-size: 12px;

}

.iconosRedes{
    width: 25px;
}


.titulohabilidades{
    width: 350px;
    
}

.cargaHabilidades{
    width: 50%;
}

.cargaHabilidades .tituloHabilidad{
    font-size: 16px;
}

.experiencias{
    font-size: 18px;
}

.textosPequeniosFuertes{
    font-size: 20px;
}

.separadoresHabilidades .botonVerMas a{
    padding: 20px 60px;
    font-size: 16px;
}
input, textarea{
    font-size: 18px;
}
}*/

@media (max-width: 1440px){
    h2{
    font-size: var(--font-Sizeh2);
  }
  .separadoresHabilidades{
  margin: 0 2px;
  }
.itemFooter{
  margin: 0 30px;
}
.sectionPresentacion{
  margin-top: 70px;
}
.linkMenu{
  padding: 10px;
}
  }

  
@media (max-width: 1280px){

  .divisoresDos, .divisorFooter{
    padding: 5px 50px;
    align-content: center;
  }

  .divisorFooter .itemFooter{
    justify-content: space-evenly;
    margin:0 100px;
  }

  .separadoresHabilidades{
    justify-content: space-around;
  }
  }

@media (max-width: 1024px){
  h1{
    font-size: 50px;
}
  h2{
    font-size: 25px;
  }
  h3{
    font-size: 16px;
  }
  nav{
    font-size:  var( --textosPequenios);
    }
  
    .divisoresDos, .divisorFooter{
      justify-content: center;
      align-items: center;
    }
    
    .separadoresHabilidades{
      width: 100%;
    }

    .experiencias{
      width: 50%;
    }
    .lineadivisoria{
      width: 800px;
  }
    .itemFooter{
      margin-right: 0px;
      margin-left: 80px;
    }
    .navFooter{
      margin-top: 50px;
    }
    .navFooter div{
      margin: 2px 40px;
    }
    .navFooter div h5{
      margin-top: 2px;
      margin-bottom: 20px;
    }
    .navFooter div h5::before{
      width: 40%;
  }

  .galeria a{
    width: 360px;
  }
  .separadoresHabilidades{
    justify-content: space-between;
  }

  .contenedorDiseños{
    width: 100%;
  }
}

@media (max-width: 768px){
  .redesContactosSec{
    margin-left: 50px;
  }
  .lineadivisoria{
    width: 550px;
    margin: 50px 0;
  }
  .sectionPresentacion{
    margin-left: 50px;
  }

  .iconosRedesSection li, .iconosRedesSection .separador{
    display: none;
  }


  .iconosRedes{
    width: 25px;
  }

  .card{
    margin-top: 25px;
  }

  .contenedorInformacion{
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .separadoresHabilidades{
    flex-direction: column;
    align-items: center;
  }
  .experiencias{
    margin-top: 25px;
    width: 85%;
  }

  .separadoresHabilidades .galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .galeria a{
    height: 465px;
  }

  .divisoresDos .separadoresHabilidades .titulohabilidades h2{
    width: 100%;
  }

  div h4{
    margin-top: 25px;
  }
  .itemFooter{
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
  }
  .redesFooter{
    display: flex;
    flex-direction: row;
  }
  .navFooter{
    margin-top: 30px;
  }
  }








  
  @media (max-width: 480px){
    h2{
      font-size: 18px;
    }
    h3{
      font-size: 12px;
    }
    h1{
      font-size: 45px;
    }
    nav{
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      margin-left: 15px;
      margin-right: 15px;
      font-size: var(--textosPequenios);
  }
  .menuDesplegable{
    right: 2px;
    background-color: #131313;
  }
    .navFooter, .iconoInicio,.redesSocialesSection li, .separadorPeque, .playSection, .redesContactosSec {
      display: none;
    }
    .playSection{
      font-size: 8px;
    }
    .titulo{
      display: flex;
      flex-direction: column;
    }
    .sectionPresentacion{
      margin-top: 15px;
      margin-left:15px
    }
    .sectionPresentacion p{
      font-size: 12px;
      margin-left: 5px;
    }
    .iconosRedesSection{
      flex-direction: row;
    }

    .iconosRedesSection{
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 5px;
    }

    .redesSocialesSection{
      margin-bottom: 10px;
    }
    /*.redesContactosSec{
      width: 100%;
      margin-top: 10px;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-left: 5px;
    }
    .redesContactosSec .contactosSec{
      margin:0;
      width: 100%;
      display: flex;
      flex-direction: row;
      

    }
    
    .redesContactosSec p{
    font-size: 15px;
    }*/
    .lineadivisoria{
      width: 50%;
    }
    .section1{
      background-image: none;
      margin-bottom: 10px;

    }
      

    .sobreMi{
      align-items: center;
      margin-top: 5px;
    padding: 0 15px;
  
    }
    .cargaHabilidades{
      margin-right: 15px;
      min-width: none;
      width: 42%; /*a revisar*/
    }
  .divisoresDos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    padding: 0;
  }
  .divisoresDos .separadoresHabilidades{
    margin-left: 0;
    margin-right: 0;  
    text-align: center;  
    max-width: 480px;
  }

  .galeria a{
    height: 333px;
  }
  

  .separadoresHabilidades .experiencias .empresa{
    width: 100%;  
  }
  
  .divisores{
    width: 100%;
  }
  .divisores h2{
    width: 100%;
  }
  .sobreMi .divisores .textoHero{
    width: 100%;
  }
  .contenedorInformacion .divisoresDos h2{
    width: 100%;
  }
.contenedorDiseños{
  width: 95%;
  /*padding: 0 10px;*/
}
  .sobreMi .contenedorImagenes{
    display:none;
  }
  .itemFooter .redesFooter{
    align-items: center;
  }

  }







  @media (max-width: 320px){
  
    .titulo h1{
      margin-right: 0;
    }
    .redesContactosSec{
      margin:0;
      width: 100%;
      margin-top: 10px;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;

    }
    .redesContactosSec .contactosSec{
      width: 100%;
      display: flex;
      flex-direction: row;

    }

    .cargaHabilidades{
      width: 300px;
      margin: 0;
    }

    .galeria a{
      flex-basis: 90%;
      height: 417px;
    }

    .contenedorDiseños{
      align-items: center;
    }
    .contenedorDiseños .galeria{
      justify-content: center;
    }

    .separadoresHabilidades div form{
      padding: 0 10px;
    }
    

  }